---
layout: default
title: PhoneGap Books
---
{% include subheader.html %}
<div class="bounds--blog">
  <div class="blog-post__preview-list">
    <!-- This loops through the posts -->
    <ul>
    {% for post in site.posts %}
      <li>{{ post.title }}</li>
    {% endfor %}
    </ul>
  </div>
</div>
<div class="sub-footer">
  <div class="bounds">
    <h2>Dig into documentation</h2>
    <div class="sub-footer__description">
        Whether you’re looking for <a href="http://docs.phonegap.com/getting-started/1-install-phonegap/desktop/">in-depth guides</a> on how to get started creating PhoneGap apps or <a href="http://docs.phonegap.com/references/desktop-app/">helpful references</a> for using the PhoneGap tools, this is the place to go. How could you go wrong?
    </div>
  </div>
</div>
