---
layout: default
title: PhoneGap Books
---
{% include subheader.html %}
<div class="bounds">
  <!-- This loops through the posts -->
  {% for post in site.posts %}
    <article class="book">
      <header>
        <h2 class="book__title">{{ post.title }}</h2>
      </header>
      <div class="book__content">
        <div class="book__image">
          <a href="{{ post.link }}">
            <img src="{{ post.thumb | prepend: site.baseurl }}" alt="{{ post.title }}"/>
          </a>
        </div>
        <div class="book__description">
          <div class="book__author">by {{ post.author }}</div>
          {{ post.content }}
        </div>
      </div>
      <footer class="book__footer">
        <a href="{{ post.link }}" class="book__link button--pill--next--gray">Website</a>
      </footer>
    </article>
  {% endfor %}
</div>
{% include subfooter.html %}
